div.reference-path span.rm-bullet span.rm-bullet__inner,
div.reference-path span.rm-bullet span.rm-bullet__inner--user-icon {
    /*background-color: var(--reference-path-bullet-color);*/
    transform: scale(var(--reference-path-bullet-scale-factor));
}

div.reference-path span.bp3-popover-target::before {
    content: '';
    position: absolute;
    top: 9px;   /* TODO:  ;scale: 1.5 => top: 9px; scale: 2 => top: 10px; */
    left: 6px;
    width: var(--reference-path-width); 
    height: var(--reference-path-height);
    border-width: var(--reference-path-border-width, 1px);
    border-style: var(--reference-path-border-style, solid);
    border-color: var(--reference-path-line-color, orange);
    border-right: none;
    border-top: none;
    /*border-bottom-left-radius: 2px;*/
    border-bottom-left-radius: var(--reference-path-line-roundness);
    pointer-events: none;
    z-index: 11;
}

div.reference-path + div.roam-block span.rm-page-ref__brackets {
    color:  var(--reference-path-brackets-color, orange);
    font-weight:  var(--reference-path-brackets-weight);
}

div.reference-path + div.roam-block span.rm-page-ref--link {
    color:  var(--reference-path-link-color, orange);
    font-weight:  var(--reference-path-link-weight);
}

div.reference-path + div.roam-block span.rm-page-ref--tag {
    color:  var(--reference-path-link-color, orange);
    font-weight:  var(--reference-path-link-weight);
}


/* important variant (copy-paste of the css above; disabled until it is actually needed) */

div.reference-path-important span.rm-bullet span.rm-bullet__inner,
div.reference-path-important span.rm-bullet span.rm-bullet__inner--user-icon {
    background-color: var(--reference-path-bullet-color) !important;
    transform: scale(var(--reference-path-bullet-scale-factor)) !important;
}

div.reference-path-important span.bp3-popover-target::before {
    content: '';
    position: absolute !important;
    top: 9px !important;   /* TODO:  ;scale: 1.5 => top: 9px; scale: 2 => top: 10px; */
    left: 6px !important;
    width: var(--reference-path-width) !important; 
    height: var(--reference-path-height) !important;
    border-width: var(--reference-path-border-width, 1px) !important;
    border-style: var(--reference-path-border-style, solid) !important;
    border-color:  var(--reference-path-line-color, orange) !important;
    border-right: none !important;
    border-top: none !important;
    /*border-bottom-left-radius: 2px !important;*/
    border-bottom-left-radius: var(--reference-path-line-roundness) !important;
    pointer-events: none !important;
    z-index: 11 !important;
}

div.reference-path-important + div.roam-block span.rm-page-ref__brackets {
    color:  var(--reference-path-brackets-color, orange) !important;
    font-weight:  var(--reference-path-brackets-weight) !important;
}

div.reference-path-important + div.roam-block span.rm-page-ref--link {
    color:  var(--reference-path-link-color, orange) !important;
    font-weight:  var(--reference-path-link-weight) !important;
}

div.reference-path-important + div.roam-block span.rm-page-ref--tag {
    color:  var(--reference-path-link-color, orange) !important;
    font-weight:  var(--reference-path-link-weight) !important;
}
